.function_list{
    height: 100%;
    background-color: #FF4040;
    padding: 0;
}
.function_list p{
    color: #ffffff;
    font-size: 30px;
    font-family: 微软雅黑;
    font-weight: 400;
    margin-top: 40px;
}
.top_box form {
    margin-top: 80px;
}
.expect_box form{
    margin-top: 80px;
}
.more_box form{
    margin-top: 80px;
}
.expect_box,.more_box{
    display: none;
}
#top_box_btn,#expect_box_btn,#more_box_btn{
    /*background-color: #ffffff;*/
    height: 60px;
    line-height: 60px;
    /*color: red;*/
    padding-left: 20px;
}
#top_box_btn,#expect_box_btn,#more_box_btn:hover{
    cursor: pointer;
}
#top_true,#expect_true,#more_true{
    float: right;
    margin-top: 30px;
}
#top_box_btn{
    color: red;
    background-color: #ffffff;
}

